:root {
    --background-color: white;
    --text-color: black;
  }
  
  [data-theme="dark"] {
    --background-color: black;
    --text-color: white;
  }
  [data-theme="yellow"] {
    --background-color: yellow;
    --text-color: rgb(12, 1, 10);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  