@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap');
body {
    margin: 0;
    scroll-behavior: smooth;
    /* behavior: inherit; */
}

button {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    font-family: Playwrite AU TAS;

}